/*  src/Title.css  */
.Footer {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(30, 30, 30);
    color: #fff;
  }
  .Footer-Subtitle {
    color: rgba(255, 255, 255, 0.75);
    margin-top: auto;
  }